:root {
    --red-color: #FA2C1A;
    --green-color: #21fa1a;
    --light-blue: #e8eeee;
    --pastel-yellow: #fdfebc;
    --metallic-blue: #667c85;
    --soft-cyan: #dcfbfa;
    --steel-grey: #42474d;
    --dark-blue-grey: #4A6476;
    --white: #e3f3ff;
    --page-header-height: 90px;
}

body{
    background: var(--steel-grey);
    font-family: 'Inter', sans-serif;
}

input{
    border-radius: 10px;
    background-color: var(--white);
    border: none;
    padding: 0 15px;
}

.see{
    border: aqua 2px solid;
}

h1{
    color: var(--light-blue);
    font-size: 60px;
}
h3{
    color: var(--pastel-yellow);
    font-size: 28px;
}
h4{
    color: var(--pastel-yellow);
    font-size: 18px;
}
h5 {
    color: black;
    font-size: 20px;
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
}
label{
    color: var(--pastel-yellow);
}

.formInput{
    width: 100%;
    height: 45px;
    font-weight: bold;
}

.hugeButton{
    height: 80px;
    width: 250px;
    background-color: var(--metallic-blue);
    color: var(--pastel-yellow);
    border-radius: 40px;
    border: none;
    font-weight: bold;
}
.hugeButton:disabled{
    opacity: 25%;
}

.clickable{
    cursor: pointer;
}

.outsideContainer{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.formContainer{
    padding: 60px;
}

.inputContainer{
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.smallErrorText{
    color: var(--red-color);
    font-size: 12px;
}

.greenText{
    color: var(--green-color);
}
.redText{
    color: var(--red-color);
}